<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_FILE" value="/var/logs/spring/cervejas.log"/>
    <springProperty scope="context" name="serverName" source="application.name"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${serverName}-${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${serverName}----${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d</fileNamePattern>
        </rollingPolicy>
    </appender>
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="error">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

</configuration>